body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  color: #8a8a8a;
  font-family: monospace;
  background-color: #17191d;
}

main {
  display: flex;
  flex-direction: column;
}

#controls {
  width: 320px;
  margin-top: 10px;
}

#container {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  height: 320px;
}

.grid-cell {
  background-color: #202328;
  border: 1px solid #17191d;
}

.fill-cell {
  background: rgba(138, 138, 138);
}

#clear-grid, #new-grid {
  margin-left: 5px;
  border: 0;
  border-right: 1px solid #17191d;
  outline: none;
  color: #8a8a8a;
  font-size: 10px;
  font-family: monospace;
  background: transparent;
}